/* General Styles */
body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
}

/* header */
header {
    background-color: #F5FCFF;
    display: flex;
    justify-content: space-between;
    padding: 5px 5%;
}

header h1 {
    font-size: 24pt;
    color: #514769;
}

header #Portfolio {
    color: #8A46F1;
}

/* navbar */
nav {
    color: #8A46F1;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 35px 70px;
    gap: 40px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: #514769;
    text-decoration: underline;
}

/* section intro */
#intro {
    background-color: #F5FCFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.left-intro {
    flex: 1;
    padding: 20px;
}

.left-intro h1 {
    font-size: 50px;
    color: #514769;
    margin-bottom: 15px;
}

.left-intro #name {
    color: #8A46F1;
}

.left-intro p {
    color: #514769;
    font-size: 18px;
    margin-bottom: 25px;
}

.left-intro a {
    text-decoration: none;
}

#icon img {
    max-width: 8%;
    height: auto;
    margin-right: 8px;
    margin-bottom: 15px;
}

button {
    background-color: #8A46F1;
    color: #FFFAFF;
    border: none;
    padding: 10px 40px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background-color: #514769;
    color: #FFFAFF;
}

.right-intro {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.right-intro img {
    max-width: 60%;
    height: auto;
    filter: drop-shadow(8px 8px 50px #8A46F1);
}

/* section experience */
#experience {
    background-color: #F5FCFF;
    padding: 60px;
}

.top-content h1 {
    color: #8A46F1;
    text-align: center;
    font-size: 50px;
    margin: 15px;
}

.top-content p {
    color: #514769;
    text-align: center;
    padding: 0px 300px 0px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 25px;
    background-color: #B188FF;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body h5 {
    color: #FFFAFF;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.card-body p {
    color: #514769;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.view-more {
    padding: 10px 25px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        /* Dua kolom pada layar lebih kecil */
    }
}

@media (max-width: 480px) {
    .card-container {
        grid-template-columns: 1fr;
        /* Satu kolom pada layar sangat kecil */
    }
}

/* portfolio section */
#portfolio {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F5FCFF;
}

.top-port h1 {
    color: #8A46F1;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.slider-wrapper .swiper-pagination-bullet {
    background: #8A46F1;
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button {
    color: #8A46F1;
    transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
    color: #514769;
}

.card-list .card-item {
    color: #8A46F1;
    width: 400px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background: rgba(138, 70, 241, 0.1);
    border: 1px solid rgba(138, 70, 241, 0.2);
}

.card-list .card-item .project-image {
    width: 150px;
    height: 145px;
    object-fit: contain;
}

.card-list .card-item .desc {
    color: #514769;
    margin: 14px 0 40px;
    text-align: center;
}

/* Section about */
#about {
    background-color: #F5FCFF;
    padding: 60px;
    display: flex;
    justify-content: space-between;
}

.left-about,
.right-about {
    flex: 1;
    padding: 40px;
}

.left-about img {
    max-width: 80%;
    height: auto;
}

.right-about {
    text-align: justify;
    margin-top: 20px;
}

.right-about h1 {
    font-size: 60px;
    color: #8A46F1;
    margin-bottom: 15px;
}

.right-about p {
    font-size: 20px;
    color: #514769;
    margin-bottom: 35px;
}